
!/media
!.gitignore
!/.modman
!.gitmodules
!/patches
!/Magento-*
.modman/magento-boilerplate/skin/frontend/boilerplate/default/bower_components/
/app
/skin
/var
/downloader
/var
/js
api.php
cron.php
/errors
cron.sh
/dev
.htacces*
/lib
index*
install*
get.php
/media
LICENSE*
/shell
/includes
/php.*
/RELEASE*
favicon.ico
mage
nbproject/
node_modules/

*.sql*
